/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #F1F5F8;
    color: #102A42;
    line-height: 1.5;
    font-size: 0.875rem;
}

h2,
h4 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: #617D98;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/* reviews */

.title {
    text-align: center;
    margin-bottom: 4rem;
}

.underline {
    height: 0.25rem;
    width: 5rem;
    background: #49A6E9;
    margin: 0 auto;
}

.container {
    width: 80vw;
    max-width: 620px;
}

.review {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    text-align: center;
}

.review:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.img__container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.img__container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: #49A6E9;
    color: #fff;
}

.img__container::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #49A6E9;
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}

#person-img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

#athor {
    margin-bottom: 0.25rem;
}

#job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: #49A6E9;
    font-size: 0.85rem;
}

#info {
    margin-bottom: 0.75rem;
}

.prev-btn,
.next-btn {
    color: #8BCBF9;
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    
}